doctype html
html
  head
    title Satyam Dance Academy
    block scripts 
    block style  
            
  body
    nav#navbar.top
        ul
            li #[a(href="/") Home]  
            li #[a(href="/") About us]  
            li #[a(href="/") Class info]
            li #[a(href="/") Services] 
            li #[a(href="/contact") Contact us]
    block content
    footer#footer Copyright © 2021 SatyamDanceAcademy |All rights reserved
     